
body, html {
  height: 100%;
  width: 100%;

} 


body, html {
  height: 100%;
  width: 100%;

} 

.wrapper{
  width: 20%;
  position: relative;
  height: 70px;
  margin-top: 25rem;
  margin-left: 8rem;
  overflow: hidden;
}

.item {
  white-space: nowrap;
  position: absolute;
  left: 0;
  animation: loop 10s linear infinite;
}

@keyframes loop{
  from{transform: translateX(100%);}
  to{ transform:translateX(-100%);}
}

#name{
  color: black;
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
    background-color: rgb(165, 255, 129);  
}

#about{
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 1.1rem;
  margin-left: 8rem;
  margin-top: 1rem;
}

p{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 8rem;
  margin-top: -1.5rem;
  font-size: 1.1rem;

}

#projects{
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-top: 5rem;
  font-weight: 550;
}

#links{
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 1.1rem;
  margin-left: 8rem;
  margin-top: 0.5rem;
}

a{
  color: black;
  margin-top: 0.5rem;
}

a.piano{
  color: rgb(72, 255, 0);
}

a.about{
  color: rgb(72, 255, 0);
}

a.game{
  color: rgb(72, 255, 0);
}


.keyboard{
  position: absolute;
  left: 55%;
  top: 8%;
  width: 40%;
  height: auto;
}

#bio_page h1{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: -20rem;
  font-size: 1.1rem;
}
#bio_page a{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: -15rem;

  font-size: 1.1rem;
}

#bio_page p{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

table{
  margin-left: 30rem;
  margin-top: -40rem;
}

th{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
  text-decoration: underline;
  font-weight: 400;
  ;
}

td{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 40rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}




