
body, html {
  height: 100%;
  width: 100%;

} 

.wrapper{
  width: 20%;
  position: relative;
  height: 70px;
  margin-top: 25rem;
  margin-left: 8rem;
  overflow: hidden;
}

.item {
  white-space: nowrap;
  position: absolute;
  left: 0;
  animation: loop 10s linear infinite;
}

@keyframes loop{
  from{transform: translateX(100%);}
  to{ transform:translateX(-100%);}
}

#name{
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  background-color: rgb(72, 255, 0);  
}

#description{
  font-weight: 500;
}

.leftmenu{
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: 8rem;
  margin-top:-2rem;
}

.rightmenu{
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: 30%;
  margin-top:-15rem;
}

#media{
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
}

.cell{
  display: flexbox;
}

.cell_game{
  display: flexbox;
}

#start{
  margin-left: 2%;
}

#info{
  margin-left: 280px;
  margin-top: -50%;
}

#info_game{
  margin-left: 320px;
  margin-top: -30.5%;
}

#playback{
  margin-left: 1%;
  margin-top: 10%;
}

#playback_game{
  margin-top: 6%;
}
#speed{
  margin-left: 260px;
  margin-top: -78%;
}

#speed_game{
  margin-left: 680px;
  margin-top: -40%;
}

#berry{
  margin-left: 340px;
  margin-top: -20%;
}
#berry_game{
  margin-left: 680px;
  margin-top: -10%;
}

#done{
  margin-top:25%;
  margin-left: 2%;
}

#done_game{
  margin-top:-40.5%;
  margin-left: 420px;
}

#game{
  margin-top:-50%;
}

td{
  padding-top: 10px;
}

a{
  color: black;
}

#projects{
  font-weight: 550;
}

.bio_page{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: -14rem;
  font-size: 1.1rem;
}

.bio_page th{
  text-align: left;
}

a.about{
  color: rgb(72, 255, 0);
}

a.piano{
  color: rgb(72, 255, 0);
}

a.game{
  color: rgb(72, 255, 0);
}

.piano_table{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: -14rem;
  font-size: 1.1rem;
}

.piano_table th{
  text-align: left;
  text-decoration: underline;
  font-weight: 500;
}

.game_table{
  color: black;
  font-family: Helvetica, sans-serif;
  margin-left: 30rem;
  margin-top: -14rem;
  font-size: 1.1rem;
}

.game_table th{
  text-align: left;
  text-decoration: underline;
  font-weight: 500;
}



























